@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #1e3a8a; /*blue-900 */
  --color-bg-lightest: ##f0f9ff; /*sky-50*/
  --color-bg-light: #e0e7ff; /*indigo-100*/
  --color-bg-dark: #a5b4fc; /*indigo-300*/
  --color-box-and-text: #eef2ff; /*indigo-50*/
}
